@tailwind base;
@tailwind components;
@tailwind utilities;

.scrolling-text-right {
    animation: scrolling 20s linear infinite;
    transform: translateX(100%);
}

.scrolling-text-left {
    animation: scrolling 20s linear infinite reverse;
    transform: translateX(-100%);
}

@keyframes scrolling {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #616072;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #656476;
  }
}